@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.header {
  display: flex;
  width: 100vw;
  height: 40px;
  background-color: grey;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
}

.header2 {
  display: flex;
  align-items: center;
}


#logo { 
  width: 30px;
  height: 30px;
}

#input {
  border: none;
  border-radius: 25px;
  background-color: rgba(255,255,255,0.3);
  align-items: center;
  margin-left: 20px;
}

.date {
  color: white;
}

.row {
  display: flex;
  height: 100vh;
}

.row div {  
  width: 20%;
  height: 100%;
  display: flex;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  color: white;
}

.text1{
  background-image: url("./img/img1.jpeg");
}

.text2{
  background-image: url("./img/img2.jpeg");
}

.text3{
  background-image: url("./img/img3.jpeg");
}

.text4{
  background-image: url("./img/img4.jpeg");
}

.text5{
  background-image: url("./img/img5.jpeg");
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .row div{
    width: 100vw;
    font-size: 50px;
  }
  .date {
    display: none;
  }
  .header {
    justify-content: center;
  }

}



